*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    
}

#griglia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;    
    /* height: 100vh; */
}

.square{
    width: calc(100% / 10);
    border: 1px solid black;
    aspect-ratio: 1/1;
}

.active{
    background-color: lightcoral;
}